{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SiPerpus - Tambah Buku</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% tailwind_css %}
</head>
<body class="bg-gray-50">
  <nav>
    <div class="flex py-5 p-10">
      <div class="w-1/2">
        <h1 class="text-2xl font-bold">Siperpus</h1>
      </div>
      <div class="w-1/2 flex justify-end">
        <form action="{% url 'logout' %}">
          <button class="p-3 bg-zinc-800 rounded-xl text-white" type="submit">
            Logout
          </button>
        </form>
      </div>
    </div>
  </nav>
  <div class="px-10">
    <h3 class="font-semibold mb-5">Tambah Buku</h3>
    <form method="POST" action="{% url 'add_book' %}">
      {% csrf_token %}
      <div class="mb-4">
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input type="text" id="title" name="title" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="author" class="block text-sm font-medium text-gray-700">Author</label>
        <input type="text" id="author" name="author" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
        <input type="text" id="category" name="category" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="lok_rak" class="block text-sm font-medium text-gray-700">Location (Rak)</label>
        <input type="text" id="lok_rak" name="lok_rak" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
      </div>
      <button type="submit" class="p-3 bg-zinc-800 rounded-xl text-white">Simpan Buku</button>
    </form>
  </div>
</body>
</html>
