{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SIPTA</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% tailwind_css %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap");
  </style>
  <style>
    * {
      font-family: "Montserrat", sans-serif;
      color: black;
    }

    body.overflow-hidden {
      overflow: hidden;
    }

    #sidebar {
      transition: transform 0.3s ease-in-out;
    }

    #overlay {
      transition: opacity 0.3s ease-in-out;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.tailwindcss.css" />
</head>

<body class="bg-gray-50 font-montserrat">
  <div class="relative flex lg:overflow-x-hidden">
    <aside id="sidebar"
      class="w-64 bg-white text-white h-screen fixed z-50 transform -translate-x-full lg:translate-x-0 transition-transform duration-300">
      <div class="p-5">
        <h1 class="text-2xl font-bold px-5">SIPTA</h1>
        <ul class="mt-5 space-y-2">
          <li>
            <a href="{% url 'home' %}" class="block hover:bg-gray-200 font-medium rounded-xl py-3 px-5 
               {% if request.path == '/auth/' %}bg-gray-300 text-black{% else %}text-gray-600{% endif %}">
              Dashboard
            </a>
          </li>
          <li>
            <a href="{% url 'books' %}" class="block hover:bg-gray-200 font-medium rounded-xl py-3 px-5 
               {% if request.path == 'auth/books/' %}bg-gray-300 text-black{% else %}text-gray-600{% endif %}">
              Daftar Buku
            </a>
          </li>
          <li>
            <a href="{% url 'borrow_book' %}" class="block hover:bg-gray-200 font-medium rounded-xl py-3 px-5 
               {% if request.path == 'auth/borrow_book/' %}bg-gray-300 text-black{% else %}text-gray-600{% endif %}">
              Peminjaman Buku
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="block hover:bg-gray-200 font-medium rounded-xl py-3 px-5 
               {% if request.path == 'auth/logout/' %}bg-gray-300 text-black{% else %}text-gray-600{% endif %}">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40" onclick="closeSidebar()"></div>

    <main class="flex-1 lg:ml-64 overflow-x-auto">
      <nav>
        <div class="flex p-5">
          <div class="w-1/2 flex justify-start items-center">
            <button id="toggleSidebar" class="lg:hidden text-white bg-black p-2 rounded" onclick="openSidebar()">
              ☰
            </button>
          </div>
          <div class="w-1/2 lg:w-full flex justify-end items-center">
            <h3 class="font-semibold mr-3 hidden md:block">
              Welcome back! {{ user.username }} 👋
            </h3>
            <details class="dropdown dropdown-end">
              <summary class="avatar placeholder cursor-pointer">
                <div class="bg-black w-12 rounded-full">
                  <h5 class="text-3xl text-white">{{ user.username|slice:":1" }}</span>
                </div>
              </summary>
              <ul class="menu dropdown-content bg-black rounded-box z-[1] w-52 p-2 shadow hover:bg-gray-800">
                <form action="{% url 'logout' %}">
                  <li>
                    <button class="text-white" type="submit">Logout</button>
                  </li>
                </form>
              </ul>
            </details>
          </div>
        </div>
      </nav>
      <div class="p-5 min-h-screen">
        <h1 class="text-3xl font-bold mb-4">Selamat datang di SIPTA 👋</h1>
        <p class="font-medium mb-8">Sistem Informasi Perpustakaan Tugas Akhir Jurusan Elektro</p>

        <div class="p-6 rounded-xl shadow-md mb-8">
          <h2 class="text-2xl font-semibold mb-4">Tentang Aplikasi</h2>
          <p class="text-lg">SIPTA (Sistem Informasi Perpustakaan Tugas Akhir) adalah aplikasi yang digunakan untuk
            mengelola data buku Tugas Akhir mahasiswa di Jurusan Elektro. Aplikasi ini memungkinkan staf perpustakaan
            untuk memantau buku-buku yang ada, melakukan peminjaman, serta mengelola data buku dan staf perpustakaan.
          </p>
        </div>

        <div class="bg-white p-6">
          <h2 class="text-2xl font-semibold mb-4">Statistik Buku</h2>
          <div id="bookStatistics" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-gray-50 p-5 rounded-xl shadow-md">
              <h3 class="text-xl font-medium">Jumlah Buku</h3>
              <p id="totalBooks" class="text-3xl font-bold">{{ ta_count }}</p>
            </div>

            <div class="bg-gray-50 p-5 rounded-xl shadow-md">
              <h3 class="text-xl font-medium">Buku Tahun Lulus 2024</h3>
              <p id="books2024" class="text-3xl font-bold">{{ ta_2024_count }}</p>
            </div>

            <div class="bg-gray-50 p-5 rounded-xl shadow-md">
              <h3 class="text-xl font-medium">Buku Tahun Lulus 2023</h3>
              <p id="books2023" class="text-3xl font-bold">{{ ta_2023_count }}</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.tailwindcss.min.js"></script>
  <script>
    function openSidebar() {
      document
        .getElementById("sidebar")
        .classList.remove("-translate-x-full");
      document.getElementById("overlay").classList.remove("hidden");
      document.getElementById("overlay").classList.add("block");
      document.body.classList.add("overflow-hidden");
    }

    function closeSidebar() {
      document.getElementById("sidebar").classList.add("-translate-x-full");
      document.getElementById("overlay").classList.add("hidden");
      document.getElementById("overlay").classList.remove("block");
      document.body.classList.remove("overflow-hidden");
    }
  </script>
  <script>
    const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      },
    });

    document.addEventListener('DOMContentLoaded', function () {
      {% if messages %}
      {% for message in messages %}
      Toast.fire({
        icon: '{{ message.tags }}',
        title: '{{ message }}'
      });
      {% endfor %}
      {% endif %}
    });
  </script>
</body>

</html>